.logo {
   display: flex;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   margin: 0 0 13px;
   width: 100%;
}

.logo-image {
    font-size: 2.5em;
    padding-right: 3px;
}

a:link {
    text-decoration: none;
}

.logo-text {
    font-size: 1.56em;
}

.r-icon {
    font-size: 3px;
    font-weight: thin;
    padding-bottom: 5px;
}