.circle-left, .circle-right{
    font-size: 22px;
    color: #b3b3b3;
}
.circle-left:hover{
    cursor: not-allowed;
}
.circle-right:hover{
    cursor: not-allowed;
}

.left-arrow-container, .right-arrow-container {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-navbar {
    display: flex;
}

.right-arrow-container {
    margin-left: 16px;
}
