.cards {
    display: flex;
    gap: 20px;
}

@media (max-width: 1008px) {
    .card:last-child {
        display: none;
    }
}
/* .card {
    margin-right: 20px;
}

.card:last-child {
    margin-right: 0;
} */