.item {
    display: flex;
    align-items: center;
    background-color: black;
    color: gray;
    height: 24px;
    padding: 8px 0;
}

.icon {
    font-size: 22px;
    width: 24px;
    padding-right: 16px;
}

a:hover {
    color: #fff;
}