.cookies {
    padding-bottom: 14px;
    color: #b3b3b3;
}

.cookies:hover {
    text-decoration: underline;
}
.privacy {
    color: #b3b3b3;
}
.privacy:hover {
    text-decoration: underline;
}

.left-footer {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    margin: 45px 0px;
}