.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.left-footer {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    height: 10px;
    margin: 32px 0px;
}

.cookies {
    padding-bottom: 14px;
    color: gray;
}

.cookies:hover {
    text-decoration: underline;
}
.privacy {
    color: gray;
}
.privacy:hover {
    text-decoration: underline;
}